<div
  class="menu menu-sub menu-sub-dropdown menu-column w-100 w-sm-350px"
  data-kt-menu="true"
>
  <div class="card">
    <div class="card-header">
      <div class="card-title">Configurations</div>
      <div class="card-toolbar d-none">
        <button
          type="button"
          class="btn btn-sm btn-icon btn-active-light-primary me-n3"
          data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
          data-kt-menu-placement="bottom-end"
        >
          <i class="ki-outline ki-setting-3 fs-2"></i>
        </button>
      </div>
    </div>
    <div class="card-body py-5">
      <div class="mh-450px scroll-y me-n5 pe-5">
        <div class="row g-2">
          <div class="col-4">
            {#
            <a
              href="{{ path('app_user_page') }}"
              class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3"
            >
              <i class="ki-outline ki-setting-3 fs-2"></i>
              <span class="fw-semibold">Utilisateurs</span>
            </a>
            #}
          </div>
          <div class="col-4">
            {#
            <a
              href="{{ path('app_gabarit') }}"
              class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3"
            >
              <i class="ki-outline ki-setting-3 fs-2"></i>
              <span class="fw-semibold">Gabarit</span>
            </a>
            #}
          </div>
          <div class="col-4">
            {#
            <a
              href="{{ path('app_admin_equipement') }}"
              class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3"
            >
              <i class="ki-outline ki-setting-3 fs-2"></i>
              <span class="fw-semibold">Equipements</span>
            </a>
            #}
          </div>
          <div class="col-4">
            {#
            <a
              href="{{ path('app_logo') }}"
              class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3"
            >
              <i class="ki-outline ki-setting-3 fs-2"></i>
              <span class="fw-semibold">Logo</span>
            </a>
            #}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
