<div class="mb-5" data-kt-search-element="main">
    <div class="d-flex flex-stack fw-semibold mb-4">
        <span class="text-muted fs-6 me-2">Recently Searched:</span>
    </div>
    <div class="scroll-y mh-200px mh-lg-325px">
        <div class="d-flex align-items-center mb-5">
            <div class="symbol symbol-40px me-4">
                <span class="symbol-label bg-light">
                    <i class="ki-outline ki-laptop fs-2 text-primary"></i>
                </span>
            </div>
            <div class="d-flex flex-column">
                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-semibold">BoomApp by Keenthemes</a>
                <span class="fs-7 text-muted fw-semibold">#45789</span>
            </div>
        </div>
    </div>
</div>