{% extends 'base.html.twig' %} {% block title %}Historique{% endblock %} {%
block body %}
<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Historique</h5>

      <!-- Table with stripped rows -->
      <table class="table table-striped datatable">
        <thead>
          <tr>
            <th scope="col">#</th>

            <th scope="col">Numéro</th>
            <th scope="col">Client</th>
            <th scope="col">Date de facturation</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in invoicesitems %}
          <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.reference }}</td>

            <td>{{ invoice.invoiceid.customerid.name }}</td>
            <td>{{ invoice.invoiceid.createdat|date('Y-m-d') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
